@model IEnumerable<RateTheRoast.Models.Coffee>

@{
    ViewData["Title"] = "Index";
}

<h3 class="lead"><strong>Coffee search results</strong></h3>

<ul class="list-group list-group-flush">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <strong><a class="text-info" asp-action="Reviews" asp-controller="Coffees" asp-route-id="@item.CoffeeId">@Html.DisplayFor(model => item.Name)</a></strong>
            is a @Html.DisplayFor(modelItem => item.RoastIntensity.Intensity) roast from
            <a class="text-info" asp-action="Details" asp-controller="Roasters" asp-route-id="@item.RoasterId">@Html.DisplayFor(modelItem => item.Roaster.Name)</a>
            in @Html.DisplayFor(modelItem => item.Roaster.City),
            @Html.DisplayFor(modelItem => item.Roaster.StateAbbrev)
        </li>

    }
</ul>

