@model RateTheRoast.Models.Coffee

@{
    ViewData["Title"] = "Reviews";
}

<h1>Details</h1>

<div>
    <h4>Coffee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Origin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Origin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Roaster)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Roaster.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoastIntensity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoastIntensity.Intensity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reviews)
        </dt>
        @foreach (var review in Model.Reviews)
        {
    <dd class="col-sm-10">
        @Html.DisplayFor(model => review.User)
        @Html.DisplayFor(model => review.DateCreated)
        @Html.DisplayFor(model => review.Score)
        @Html.DisplayFor(model => review.Price)
        @Html.DisplayFor(model => review.Narrative)
    </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CoffeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
