@model RateTheRoast.Models.Coffee;
@using Microsoft.AspNetCore.Identity;
@using System;
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;

@{ViewData["Title"] = "Reviews";}





<h1>Details</h1>

<div>
    <h4>Coffee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Origin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Origin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Roaster)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Roaster.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoastIntensity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoastIntensity.Intensity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reviews)
        </dt>
        @foreach (var review in Model.Reviews)
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(model => review.User.Handle)
                @Html.DisplayFor(model => review.DateCreated)
                @if (review.DateEdited != null)
                {@Html.DisplayFor(model => review.DateEdited)}
                @Html.DisplayFor(model => review.Score)
                @Html.DisplayFor(model => review.Price)
                @Html.DisplayFor(model => review.Narrative)
                @{ if (User.Identity.IsAuthenticated)
                    {
                        String loggedInUserHandle = User.FindFirst("Handle").Value;
                        if (review.User.Handle == loggedInUserHandle)
                        {
                            <a asp-action="Edit" asp-controller="Reviews" asp-route-id="@review.ReviewId">Edit</a>
                            <a asp-action="Delete" asp-controller="Reviews" asp-route-id="@review.ReviewId">Delete</a>
                        }
                    }
                }
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Add" asp-controller="Reviews" asp-route-id="@Model.CoffeeId">Add review</a>
    <a asp-action="Edit" asp-route-id="@Model.CoffeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
