@model RateTheRoast.Models.Coffee;
@using Microsoft.AspNetCore.Identity;
@using System;
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;

@{ViewData["Title"] = "Reviews";}


<div class="jumbotron">
    <h1 class="display-4">@Html.DisplayFor(model => model.Name)</h1>
    <p class="lead">@Html.DisplayFor(model => model.Roaster.Name) @Html.DisplayFor(model => model.Roaster.City), @Html.DisplayFor(model => model.Roaster.StateAbbrev)</p>
    <p class="lead">
        @Html.DisplayFor(model => model.RoastIntensity.Intensity) roast from @Html.DisplayFor(model => model.Origin)
        @if (Model.Origin != "Blend") { Html.Display(","); } else { }
        @if (Model.Origin != "Blend") { Html.DisplayFor(model => model.Region); } else { }
    </p>
    <p class="lead">@Html.DisplayFor(model => model.Description) roast</p>
    <hr class="my-4">
    <p>Browse @Html.DisplayFor(model => model.Name)'s coffees below. Do you know of one that isn't on our list? Add it!</p>
</div>

<div class="card-columns">
    @foreach (var review in Model.Reviews)
    {
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> Roast score @Html.DisplayFor(model => review.Score) </h5>
                <p class="card-text"><strong> reviewed by @Html.DisplayFor(model => review.User.Handle) </strong></p>
                <p class="card-text"> created on @Html.DisplayFor(model => review.DateCreated) </p>
                <p class="card-text"> purchased at @Html.DisplayFor(model => review.PurchaseAddress) @Html.DisplayFor(model => review.PurchaseCity), @Html.DisplayFor(model => review.StateAbbrev) </p>
                <p class="card-text"> created on @Html.DisplayFor(model => review.Narrative) </p>
                @{ if (User.Identity.IsAuthenticated)
                    {
                        String loggedInUserHandle = User.FindFirst("Handle").Value;
                        if (review.User.Handle == loggedInUserHandle)
                        {
                            <a asp-action="Edit" asp-controller="Reviews" asp-route-id="@review.ReviewId">Edit</a>
                            <a asp-action="Delete" asp-controller="Reviews" asp-route-id="@review.ReviewId">Delete</a>
                        }
                    }
                }
            </div>
        </div>
    }
</div>

<div>
    <a asp-action="Add" asp-controller="Reviews" asp-route-id="@Model.CoffeeId">Add review</a>
    <a asp-action="Edit" asp-route-id="@Model.CoffeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
