@model RateTheRoast.Models.Roaster

@{
    ViewData["Title"] = "Details";
}

<div class="jumbotron">
    <h1 class="display-4">@Html.DisplayFor(model => model.Name)</h1>
    <p class="lead">@Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State.StateAbbrev)</p>
    <hr class="my-4">
    <p>Browse @Html.DisplayFor(model => model.Name)'s coffees below. Do you know of one that isn't on our list? Add it!</p>
</div>

<div class="card-columns">
    @foreach (var coffee in Model.Coffees)
    {
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a class="text-info" asp-action="Reviews" asp-controller="Coffees" asp-route-id="@coffee.CoffeeId">@Html.DisplayFor(model => coffee.Name)</a></h5>
                <p class="card-text">@Html.DisplayFor(model => coffee.RoastIntensity.Intensity) roast, origin @Html.DisplayFor(model => coffee.Origin)</p>
            </div>
        </div>
    }
</div>
<p>Go back to roasters in <a class="text-info" href=@($"http://localhost:5000/Roasters/State/{Model.State.StateAbbrev}")>@Html.DisplayFor(model => model.State.StateName)</a>.</p>
